
db.sqlite3

laba5/

my_app/__init__.py

my_app/__pycache__/__init__.cpython-35.pyc

my_app/__pycache__/admin.cpython-35.pyc

my_app/__pycache__/models.cpython-35.pyc

my_app/__pycache__/views.cpython-35.pyc

my_app/migrations/__init__.py

my_app/migrations/__pycache__/__init__.cpython-35.pyc
